<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco Business Unit</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
					<li><a href="javascript:void(0);">Dashboard</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Admin </a>
			<span>/</span>
			<a href="javascript:void(0);">Users</a>
		</div>
	</div>
</div>
<!--End-->
<!--Table-->
<div class="lyerco_table define_float">
	<div class="container">
		<div class="lyerco_table_main define_float">
			<div class="lyerco_left_table col-md-3">
				<div class="lyerco_left_table_inner define_float">
					<ul>
						<h6>Admin Panel</h6>
						<li class="user_active"><a href="javascript:void(0);">Business Units</a></li>
						<li><a href="javascript:void(0);">Roles</a></li>
						<li><a href="javascript:void(0);">Users</a></li>
						<li><a href="javascript:void(0);">Projects</a></li>
						<h6>Project Panel</h6>
						<li><a href="javascript:void(0);">My Projects</a></li>
						<h6>Reporting Panel</h6>
						<li><a href="javascript:void(0);">Status Updates</a></li>
						<h6>User Panel</h6>
						<li><a href="javascript:void(0);">My Profile</a></li>
					</ul>
				</div>
			</div>
			<div class="lyerco_right_table business-unit col-md-9">
				<div class="table_heading_text define_float">
					<h2>BU Management</h2>
				</div>
					 <div class="table table-bordered table-business">
						<div class="heading-table">
						  <div class="row-table">
							<div class="th">
							   <p>Department</p>
							   <span>
								<img src="images/up-arrow.png">
								<img src="images/down-arrow.png">
							   </span>
							</div>
							<div class="th">
							   <p>PICTURE</p>								
							</div>							
							<div class="th action-column">
							    <p>ACTION</p>								
							</div>
						  </div>
						</div>
						<div class="tbody">
						  <div class="modify-row row-table">
							<div class="td"><b>Business Unit A</b><span>|</span></div>
							<div class="td"><img src="images/project-img-1.png"></div>
							<div class="td_add_btn td">
							  <a href="javascript:void(0);">SAVE</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit B</div>
							<div class="td"><img src="images/project-img-2.png"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit C</div>
							<div class="td"><img src="images/project-img-3.png"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit D</div>
							<div class="td"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit X</div>
							<div class="td"><img src="images/project-img-5.png"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit Y</div>
							<div class="td"><img src="images/project-img-7.png"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Business Unit Z</div>
							<div class="td" style="text-align:center"></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">hide</a>
							</div>
						  </div>
						  <div class="row-table">
                           <div class="italic_bg td">Add Business Unit</div>                                                      
                           <div class="italic_bg td">
						   <img src="images/project-img-z.png" class="pop-up-img" data-toggle="modal" data-target="#exampleModal">
							<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Choose BU Image</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									  </div>
									  <div class="modal-body">
										<ul>
											<li>Image needs to be in jpg or png format</li>
											<li>Max 20MB</li>
										</ul>
										<a href="javascript:void(0)">Select file from your computer</a>
									  </div>
									  <div class="modal-footer">					
										<button type="button" class="btn btn-primary pop-btn disabled">Save changes</button>
									  </div>
									</div>
								  </div>
								</div>
						   </div>
                           <div class="td_add_btn btn-disabled td"><a href="javascript:void(0);" >ADD</a></div>
                        </div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>

