<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco Human Resource</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="my-profile.html">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
                    <li><a href="business-unit.html">Admin</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>						
					<li class="select-lang">
						<select id="home" class="home-lang">
						  <option value="select-role">EN</option>
						  <option value="admin">DE</option>
						  <option value="super-admin">FR</option>						 
						</select>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);" class="current-item">Home</a>		
		</div>
	</div>
</div>
<!--End-->
<!--Main Section-->
<div class="homepage">
	<div class="container">
		<div class="row">
			<div class="col-md-3 home-grid">
				<div class="home-box all-boxes">
				<span class="all-img"></span>
					<img src="images/home-box.png">									
					<div class="home-box-inner">
						<h2>All</h2>
						<span>X Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="human-resource.html"></a>
					<div class="home-box-inner">
						<h2>Human Resources</h2>
						<span>9 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Sales</h2>
						<span>7 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Marketing</h2>
						<span>8 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Finance</h2>
						<span>11 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Lorem</h2>
						<span>10 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Ipsum</h2>
						<span>6 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Dolor</h2>
						<span>9 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Lorem</h2>
						<span>5 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Ipsum</h2>
						<span>7 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Dolor</h2>
						<span>8 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-inner">
						<h2>Department Lorem</h2>
						<span>9 Projects</span>
					</div>
				</div>
			</div>						
		</div>
	</div>
</div>
<!--Popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-homepage" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Login</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<ul>
			<li><span>Email Address</span><input type="email" class="login-field"/></li>
			<li><span>Password</span><input type="text" class="login-field"/></li>
		</ul>
	  </div>
	  <div class="modal-footer">
		<a href="javascript:void(0)">Lost your password?</a>	  
		<button type="button" class="btn btn-primary pop-btn disabled">Login</button>
	  </div>
	</div>
  </div>
</div>

<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/jquery.selectBoxIt.min.js"></script>
<script>
jQuery(document).ready(function() {	 
	jQuery('.select-lang select').selectBoxIt({ 'numSearchCharacters': 1 });
});
</script>
</body>
</html>

