<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco Homepage 1</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="my-profile.html">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
                    <li><a href="business-unit.html">Admin</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>						
					<li class="select-lang">
						<select id="home" class="home-lang">
						  <option value="select-role">EN</option>
						  <option value="admin">DE</option>
						  <option value="super-admin">FR</option>						 
						</select>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Home</a>
			<span>/</span>
			<a href="javascript:void(0);" class="current-item">Human Resource</a>
		</div>
	</div>
</div>
<!--End-->
<!--Main Section-->
<div class="homepage home-admin">
	<div class="container">
		<div class="row">
			<div class="col-md-3 home-grid">
				<div class="home-box all-boxes human-box">	
					<div class="home-box-top">
						<a class="back-btn" href="homepage-admin.html"><img src="images/arrow-left.png"><img class="arrow-img2" src="images/arrow-left2.png"></a>						
					</div>
					<div class="home-box-inner">
						<h2>Human Ressources</h2>
						<span>9 Projects</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-top">
						<div class="home-top-inner"><img src="images/user-img1.png"></div>
						<div class="home-top-inner">
							<ul>				
								<li class="percent-box"><span>70%</span></li>
								<li><img src="images/time-icon.png"></li>
								<li><img src="images/quality-icon.png"></li>
								<li><img src="images/coins1.png"></li>
							</ul>
						</div>
					</div>			
					<div class="home-box-inner">
						<h2>Smart City Logistics</h2>
						<div class="human-details">
						<span>Go-Live: 90 days</span>
						<span>Latest Update:19.06.20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-top">
						<div class="home-top-inner"><img src="images/user-img1.png"></div>
						<div class="home-top-inner">
							<ul>
								<li class="block-icon"><img src="images/block-img.png"></li>
								<li class="percent-box"><span>25%</span></li>
								<li><img src="images/time-icon.png"></li>
								<li><img src="images/quality-icon2.png"></li>
								<li><img src="images/red-coins.png"></li>
							</ul>
						</div>						
					</div>			
					<div class="home-box-inner">
						<h2>Coffee Operating Services</h2>				
						<div class="human-details">
						<span>Go-Live: 90 days</span>
						<span>Latest Update:19.06.20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-top">
						<div class="home-top-inner"><img src="images/user-img1.png"></div>
						<div class="home-top-inner">
							<ul>														
								<li class="percent-box"><span>36%</span></li>
								<li><img src="images/time-icon.png"></li>
								<li><img src="images/quality-icon.png"></li>
								<li><img src="images/coins1.png"></li>
							</ul>
						</div>						
					</div>	
					<div class="home-box-inner">
						<h2>Project D</h2>				
						<div class="human-details">
						<span>Go-Live: 90 days</span>
						<span>Latest Update:19.06.20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-top">
						<div class="home-top-inner"><img src="images/user-img1.png"></div>
						<div class="home-top-inner">
							<ul>														
								<li class="percent-box"><span>27%</span></li>
								<li><img src="images/time-icon.png"></li>
								<li><img src="images/quality-icon.png"></li>
								<li><img src="images/coins1.png"></li>
							</ul>
						</div>						
					</div>	
					<div class="home-box-inner">
						<h2>Project Lorem Ipsum</h2>				
						<div class="human-details">
						<span>Go-Live: 90 days</span>
						<span>Latest Update:19.06.20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 home-grid">
				<div class="home-box">
					<img src="images/home-box.png">
					<a href="javascript:void(0)"></a>
					<div class="home-box-top">
						<div class="home-top-inner"><img src="images/user-img1.png"></div>
							<div class="home-top-inner">
							<ul>												
								<li class="percent-box"><span>65%</span></li>
								<li><img src="images/time-icon.png"></li>
								<li><img src="images/quality-icon2.png"></li>
								<li><img src="images/coins1.png"></li>
							</ul>
						</div>
					</div>	
					<div class="home-box-inner">
						<h2>Project E</h2>				
						<div class="human-details">
						<span>Go-Live: 90 days</span>
						<span>Latest Update:19.06.20</span>
						</div>
					</div>
				</div>
			</div>						
		</div>
	</div>
</div>
<!--Popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-homepage" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Login</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<ul>
			<li><span>Email Address</span><input type="email" class="login-field"/></li>
			<li><span>Password</span><input type="text" class="login-field"/></li>
		</ul>
	  </div>
	  <div class="modal-footer">
		<a href="javascript:void(0)">Lost your password?</a>	  
		<button type="button" class="btn btn-primary pop-btn disabled">Login</button>
	  </div>
	</div>
  </div>
</div>

<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/jquery.selectBoxIt.min.js"></script>
<script>
jQuery(document).ready(function() {	 
	jQuery('.select-lang select').selectBoxIt({ 'numSearchCharacters': 1 });
});
</script>
</body>
</html>

