<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Lyreco Latest Status Update</title>
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/style.css" />
   </head>
   <body>
      <!--logo-section-->
      <div class="top_header define_float">
         <div class="container">
            <div class="top_header_main define_float">
               <div class="top_header_left col-md-6 col-sm-6 col-xs-6">
                  <div class="logo_section define_float">
                     <a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
                     <h2>Project Dashboard</h2>
                  </div>
               </div>
               <div class="top_header_right col-md-6 col-sm-6 col-xs-6">
                  <div class="top_header_right_inner">
                     <ul>
                        <li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
                        <li><a href="javascript:void(0);">Dashboard</a></li>
                        <li><a href="javascript:void(0);">Log out</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--End-->
      <!--Nav-SEction-->
      <div class="header_nav define_float">
         <div class="container">
            <div class="header_nav_main define_float">
               <a href="javascript:void(0);">Admin </a>
               <span>/</span>
               <a href="javascript:void(0);">Users</a>
            </div>
         </div>
      </div>
      <!--End-->
      <!--Table-->
      <div class="lyerco_table define_float latest-status">
         <div class="container">
            <div class="lyerco_table_main define_float">
               <div class="lyerco_left_table col-md-3">
                  <div class="lyerco_left_table_inner define_float">
                     <ul>
                        <h6>Admin Panel</h6>
                        <li><a href="javascript:void(0);">Business Units</a></li>
                        <li><a href="javascript:void(0);">Roles</a></li>
                        <li><a href="javascript:void(0);">Users</a></li>
                        <li><a href="javascript:void(0);">Projects</a></li>
                        <h6>Project Panel</h6>
                        <li class="user_active"><a href="javascript:void(0);">My Projects</a></li>
                        <h6>Reporting Panel</h6>
                        <li><a href="javascript:void(0);">Status Updates</a></li>
                        <h6>User Panel</h6>
                        <li><a href="javascript:void(0);">My Profile</a></li>
                     </ul>
                  </div>
               </div>
               <div class="lyerco_right_table project_inner_table col-md-9">
                  <div class="table_heading_text define_float latest-heading">
                     <h2>Latest Status Updates</h2>
					 <span>remind all</span>
                  </div>
                  <div class="table table-bordered project-management-inner latest-status-inner">
                     <div class="heading-table">
                        <div class="row-table">
                          <div class="th">
                              <p>Projects</p>
							  <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th">
                              <p>Department</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th">
                              <p>Sponsor</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th">
                              <p>GROUP?</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th">
                              <p>LATEST <br/>UPDATE</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th icon-heading">
                              <img src="images/clock.png">
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th icon-heading">
                              <img src="images/star.png">
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                           <div class="coin th">
                              <img src="images/coins.png">
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                          </div>
                          <div class="th">
                              <p>ACTION</p>                             
                          </div>
                        </div>
                     </div>
                     <div class="tbody">
                        <div class="row-table">
                           <div class="td">Project A</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;">
						   <span class="tooltip"></span>
						   	<!-- Tooltip -->
							<div class="tooltip-main">
							 <div class="tooltip-header">
								<img src="images/time-icon.png">
								<h2>TIME</h2>
							 </div>
							 <div class="tooltip-content">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
								Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet nonumy eirmod.</p>
							 </div> 							 
							</div>
						   </div>
						   <div class="time td" style="text-align:center;">
						   <span class="tooltip"></span>
						   <!-- Tooltip -->
							<div class="tooltip-main">
							 <div class="tooltip-header">
								<img src="images/time-icon.png">
								<h2>time</h2>
							 </div>
							 <div class="tooltip-content">
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
								when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
							 </div> 							 
							</div>
						   </div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project B</div>
                           <div class="td">Human Resource</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;">
						   <span class="tooltip"></span>						
						   </div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>					
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project C</div>
                           <div class="td">Human Resource</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>					
                           </div>						 
                        </div>
                        <div class="row-table">
                           <div class="td">Project D</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project E</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project F</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>					
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project G</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>							
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project H</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>					
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project I</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td"style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project J</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>							
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project K</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project L</div>
                           <div class="td">Human Resource</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>					
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project M</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>							
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project N</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td"style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project O</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project X</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project Y</div>
                           <div class="td">Human Resource</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>						
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project Z</div>
                           <div class="td">Human Ressources</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Yes</div>
                           <div class="td">dd/mm/yy</div>
                           <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>
						   <div class="time td" style="text-align:center;"><span></span></div>                           
                           <div class="update-btn td">
                              <a href="javascript:void(0);">remind</a>
                           </div>
                        </div>                        
                     </div>
                  </div>
				</div>
            </div>
         </div>
      </div>
      <!--End-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="js/bootstrap.js"></script>
   </body>
</html>