<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco My Profile</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
					<li><a href="javascript:void(0);">Dashboard</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Admin </a>
			<span>/</span>
			<a href="javascript:void(0);">Users</a>
		</div>
	</div>
</div>
<!--End-->
<!--Table-->
<div class="lyerco_table define_float">
	<div class="container">
		<div class="lyerco_table_main define_float">
			<div class="lyerco_left_table col-md-3">
				<div class="lyerco_left_table_inner define_float">
					<ul>
						<h6>Admin Panel</h6>
						<li class="user_active"><a href="javascript:void(0);">Business Units</a></li>
						<li><a href="javascript:void(0);">Roles</a></li>
						<li><a href="javascript:void(0);">Users</a></li>
						<li><a href="javascript:void(0);">Projects</a></li>
						<h6>Project Panel</h6>
						<li><a href="javascript:void(0);">My Projects</a></li>
						<h6>Reporting Panel</h6>
						<li><a href="javascript:void(0);">Status Updates</a></li>
						<h6>User Panel</h6>
						<li><a href="javascript:void(0);">My Profile</a></li>
					</ul> 
				</div>
			</div>
			<div class="lyerco_right_table my-profile col-md-9">				
				<div class="project-header-main">
					<div class="project-heading-list col-md-8 profile-list">
						<div class="my-profile define_float">
							<h2>My Profile</h2>
						</div>
						<ul>
						<li><span class="profile-left">Name:</span><p>Max Mustermann</p></li>
						<li><span class="profile-left">Role:</span><p>Admin</p></li>
						<li><span class="profile-left">Job Title</span><input type="text" class="text-field" name="job-title"/></li>			
						</ul>
					</div>
					<div class="project-heading-list col-md-4 profile-left-list">
						<div class="user-profile-img">
							<img src="images/user-profile.png">							
							<div class="choose-profile">
							    <div class="file-choosen">
									<input type="file" id="file-upload" multiple required />
									<span for="file-upload">Select Image</span>
								</div>
							</div>
						</div>
					</div>					
				</div>				
				<div class="project-details-main my-profile-inner">
					<h2>Password Management</h2>
					<div class="project-heading-list col-md-8 profile-list">
						<ul class="password-manage-list">
						<li><span class="profile-left">Current password</span><input type="text" class="text-field" name="job-title"/></li>
						<li><span class="profile-left">New password</span><input type="text" class="text-field" name="job-title"/></li>
						<li><span class="profile-left">Re-enter new password</span><input type="text" class="text-field" name="job-title"/></li>			
						</ul>
					</div>	
				</div>					
				<!--Button-->
				<button class="my-profile-btn disabled">SAVE CHANGES</button>
			</div>
		</div>
	</div>
</div>
<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
var input = document.getElementById( 'file-upload' );
var infoArea = document.getElementById( 'file-upload-filename' );

input.addEventListener( 'change', showFileName );

function showFileName( event ) {
  
  // the change event gives us the input it occurred in 
  var input = event.srcElement;
  
  // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
  var fileName = input.files[0].name;
  
  // use fileName however fits your app best, i.e. add it into a div
  infoArea.textContent = 'File name: ' + fileName;
}
</script>
<script>
jQuery(document).ready(function() {	 
	jQuery('.select-admin select').selectBoxIt({ 'numSearchCharacters': 1 });
});
</script>
</body>
</html>

