<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Lyreco Projects</title>
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
   </head>
   <body>
      <!--logo-section-->
      <div class="top_header define_float">
         <div class="container">
            <div class="top_header_main define_float">
               <div class="top_header_left col-md-6 col-sm-6 col-xs-6">
                  <div class="logo_section define_float">
                     <a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
                     <h2>Project Dashboard</h2>
                  </div>
               </div>
               <div class="top_header_right col-md-6 col-sm-6 col-xs-6">
                  <div class="top_header_right_inner">
                     <ul>
                        <li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
                        <li><a href="javascript:void(0);">Dashboard</a></li>
                        <li><a href="javascript:void(0);">Log out</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--End-->
      <!--Nav-SEction-->
      <div class="header_nav define_float">
         <div class="container">
            <div class="header_nav_main define_float">
               <a href="javascript:void(0);">Admin </a>
               <span>/</span>
               <a href="javascript:void(0);">Users</a>
            </div>
         </div>
      </div>
      <!--End-->
      <!--Table-->
      <div class="lyerco_table define_float project-table">
         <div class="container">
            <div class="lyerco_table_main define_float">
               <div class="lyerco_left_table col-md-3">
                  <div class="lyerco_left_table_inner define_float">
                     <ul>
                        <h6>Admin Panel</h6>
                        <li><a href="javascript:void(0);">Business Units</a></li>
                        <li><a href="javascript:void(0);">Roles</a></li>
                        <li><a href="javascript:void(0);">Users</a></li>
                        <li class="user_active"><a href="javascript:void(0);">Projects</a></li>
                        <h6>Project Panel</h6>
                        <li><a href="javascript:void(0);">My Projects</a></li>
                        <h6>Reporting Panel</h6>
                        <li><a href="javascript:void(0);">Status Updates</a></li>
                        <h6>User Panel</h6>
                        <li><a href="javascript:void(0);">My Profile</a></li>
                     </ul>
                  </div>
               </div>
               <div class="lyerco_right_table project_inner_table col-md-9">
                  <div class="table_heading_text define_float">
                     <h2>ACTIVE PROJECTS</h2>
                  </div>
                  <div class="table table-bordered project-table">
                     <div class="heading-table">
                        <div class="row-table">
                           <div class="th">
                              <p>PROJECT <br/> TITLE</p>
                           </div>
                           <div class="th">
                              <p>BUSIN. <br/> UNIT</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>SPONSOR</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>PM</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Start <br/>(Est.)</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>End <br/>(Est.)</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th publish-header">
                              <p>Publ.</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Group</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th action-header">
                              <p>Act.</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Pic</p>
                           </div>
                           <div class="th">
                              <p>ACTION</p>
                           </div>
                        </div>
                     </div>
                     <div class="tbody">
                        <div class="row-table">
                            <div class="td">Project A</div>
                            <div class="td">Finance</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Martin</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-1.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project B</div>
                            <div class="td">Logistics</div>
                            <div class="td">Sponsor B</div>
                            <div class="td">Peter</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-2.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project C</div>
                            <div class="td">Logistics</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Maria</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                        <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
					    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                        <div class="td" style="text-align:center"><img src="images/project-img-3.png"></div>
                        <div class="update-btn td">
                            <a href="javascript:void(0);">modify</a>
                        </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project D</div>
                            <div class="td">Finance</div>
                            <div class="td"></div>
                            <div class="td">Ina</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="td"></div>
                            <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project E</div>
                            <div class="td">Sales</div>
                            <div class="td"></div>
                            <div class="td">Hans</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-5.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project F</div>
                            <div class="td">Sales</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Martin</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project G</div>
                            <div class="td">Marketing</div>
                            <div class="td"></div>
                            <div class="td">Peter</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div  class="td" style="text-align:center"><img src="images/project-img-7.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project H</div>
                            <div class="td">Finance</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Maria</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project I</div>
                            <div class="td">Sales</div>
                            <div class="td"></div>
                            <div class="td">Ina</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-i.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project J</div>
                            <div class="td">Marketing</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Martin</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td"style="text-align:center"><img src="images/project-img-j.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project K</div>
                            <div class="td">Finance</div>
                            <div class="td">Sponsor B</div>
                            <div class="td">Peter</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-k.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project L</div>
                            <div class="td">Logistics</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Maria</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-2.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project M</div>
                            <div class="td">Finance</div>
                            <div class="td"></div>
                            <div class="td">Ina</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project N</div>
                            <div class="td">Finance</div>
                            <div class="td"></div>
                            <div class="td">Hans</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project O</div>
                            <div class="td">Sales</div>
                            <div class="td">Sponsor B</div>
                            <div class="td">Hans</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-3.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project X</div>
                            <div class="td">Sales</div>
                            <div class="td"></div>
                            <div class="td">Kerstin</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="td"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project Y</div>
                            <div class="td">Human Ressources</div>
                            <div class="td">Sponsor A</div>
                            <div class="td">Denise</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-7.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                            <div class="td">Project Z</div>
                            <div class="td">Sales</div>
                            <div class="td"></div>
                            <div class="td">Hannes</div>
                            <div class="td">01/01/20</div>
                            <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-j.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="italic_bg td">Project Title</div>
                           <div class="select-admin td">
                              <select id="admin">
                                 <option value="select-role">Select</option>
                                 <option value="admin">Admin</option>
                                 <option value="super-admin">Super Admin</option>
                                 <option value="project-manager">Project Manager</option>
                                 <option value="management">Management</option>
                                 <option value="sponsor">Sponsor</option>
                              </select>
                           </div>
                           <div class="italic_bg td">Name</div>
                           <div class="select-admin td">
                              <select id="admin">
                                 <option value="select-role">Select</option>
                                 <option value="admin">Admin</option>
                                 <option value="super-admin">Super Admin</option>
                                 <option value="project-manager">Project Manager</option>
                                 <option value="management">Management</option>
                                 <option value="sponsor">Sponsor</option>
                              </select>
                           </div>
                           <div class="italic_bg td">dd/mm/yy</div>
                           <div class="italic_bg td">dd/mm/yy</div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                            <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="italic_bg td" style="text-align:center;"><img src="images/project-img-z.png"></div>
                           <div class="td_add_btn btn-disabled td"><a href="javascript:void(0);" >ADD</a></div>
                        </div>
                     </div>
                  </div>
				  <div class="table_heading_text define_float inactive-heading">
                     <h2>inActive Projects (archived)</h2>
                  </div>
                  <div class="table table-bordered project-table inactive-tabel">
                     <div class="heading-table">
                        <div class="row-table">
                           <div class="th">
                              <p>PROJECT <br/> TITLE</p>
                           </div>
                           <div class="th">
                              <p>BUSIN. <br/> UNIT</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>SPONSOR</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>PM</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Start <br/>(Est.)</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>End <br/>(Est.)</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th publish-header">
                              <p>Publ.</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Group</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th action-header">
                              <p>Act.</p>
                              <span>
                              <img src="images/up-arrow.png">
                              <img src="images/down-arrow.png">
                              </span>
                           </div>
                           <div class="th">
                              <p>Pic</p>
                           </div>
                           <div class="th">
                              <p>ACTION</p>
                           </div>
                        </div>
                     </div>
                     <div class="tbody">
                        <div class="row-table">
							<div class="td">Project A</div>
							<div class="td">Finance</div>
							<div class="td">Sponsor A</div>
							<div class="td">Martin</div>
							<div class="td">01/01/20</div>
							<div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-1.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a><span> |</span>
							  <a href="javascript:void(0);">delete</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project B</div>
                           <div class="td">Logistics</div>
                           <div class="td">Sponsor B</div>
                           <div class="td">Peter</div>
                           <div class="td">01/01/20</div>
                           <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-2.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a><span> |</span>
							  <a href="javascript:void(0);">delete</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project C</div>
                           <div class="td">Logistics</div>
                           <div class="td">Sponsor A</div>
                           <div class="td">Maria</div>
                           <div class="td">01/01/20</div>
                           <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-3.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a><span> |</span>
							  <a href="javascript:void(0);">delete</a>
                           </div>
                        </div>
                        <div class="row-table">
                           <div class="td">Project D</div>
                           <div class="td">Finance</div>
                           <div class="td"></div>
                           <div class="td">Ina</div>
                           <div class="td">01/01/20</div>
                           <div class="td">01/06/20</div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
                           <div class="td"></div>
                           <div class="td" style="text-align:center"><img src="images/project-img-7.png"></div>
                           <div class="update-btn td">
                              <a href="javascript:void(0);">modify</a><span> |</span>
							  <a href="javascript:void(0);">delete</a>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
      <!--End-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
      <script src="js/jquery.selectBoxIt.min.js"></script>
      <script>
         jQuery(document).ready(function() {	 
         	jQuery('.select-admin select').selectBoxIt({ 'numSearchCharacters': 1 });
         });
      </script>
   </body>
</html>