<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco Project Details</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
					<li><a href="javascript:void(0);">Dashboard</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Admin </a>
			<span>/</span>
			<a href="javascript:void(0);">Users</a>
		</div>
	</div>
</div>
<!--End-->
<!--Table-->
<div class="lyerco_table define_float">
	<div class="container">
		<div class="lyerco_table_main define_float">
			<div class="lyerco_left_table col-md-3">
				<div class="lyerco_left_table_inner define_float">
					<ul>
						<h6>Admin Panel</h6>
						<li class="user_active"><a href="javascript:void(0);">Business Units</a></li>
						<li><a href="javascript:void(0);">Roles</a></li>
						<li><a href="javascript:void(0);">Users</a></li>
						<li><a href="javascript:void(0);">Projects</a></li>
						<h6>Project Panel</h6>
						<li><a href="javascript:void(0);">My Projects</a></li>
						<h6>Reporting Panel</h6>
						<li><a href="javascript:void(0);">Status Updates</a></li>
						<h6>User Panel</h6>
						<li><a href="javascript:void(0);">My Profile</a></li>
					</ul> 
				</div>
			</div>
			<div class="lyerco_right_table business-unit col-md-9">
				<div class="table_heading_text define_float">
					<h2>PROJECT A</h2>
				</div>
				<div class="project-header-main">
					<div class="project-heading-list col-md-6">
						<ul>
						<li><h6>Project Title:</h6><span>Project XYZ</span></li>
						<li><h6>Department:</h6><span>Department XYZ</span></li>
						<li><h6>Project Manager:</h6><span>Username</span></li>
						<li><h6>Project Sponsor:</h6><span>Sponsor Name</span></li>
						</ul>
					</div>
					<div class="project-heading-list col-md-6">
						<ul>
						<li><h6>Public?</h6><span>Yes/No</span></li>
						<li><h6>Group?</h6><span>Yes/No</span></li>
						<li><h6>Active?</h6><span>Yes/No</span></li>
						<li><h6>Planned Start:</h6><span>01/11/2020</span></li>
						<li><h6>Planned End:</h6><span>01/12/2021</span></li>
						</ul>
					</div>
				</div>
				<div class="project-details-main">
					<h2>Project Details</h2>
					<div class="project-textarea">
						<p>Project Description (publicly available):</p>
						<textarea name="comment" class="disabled" form="usrform">What is project about? Why do we start the project? What outcome do we expect?</textarea>
					</div>
					<div class="project-textarea">
						<p>Current Situation</p>
						<textarea name="comment" class="disabled" form="usrform">Description of the current situation</textarea>
					</div>
					<div class="project-textarea">
						<p>Prerequisites, dependencies and exclusions (if applicable)</p>
						<textarea name="comment" class="disabled" form="usrform">Description of the prerequisites</textarea>
					</div>
					<div class="project-textarea">
						<p>Alternatives, Options</p>
						<textarea name="comment" class="disabled" form="usrform">Description of the alternatives</textarea>
					</div>
					<div class="project-textarea">
						<p>Milestones</p>
						<textarea name="comment" class="disabled" form="usrform">Description of the milestones</textarea>
					</div>
					<div class="project-textarea">
						<p>Required Resources (financial, human, material)</p>
						<textarea name="comment" class="disabled" form="usrform">Description of the required resources</textarea>
					</div>
				</div>
				<div class="project-details-main project-members">
					<h2>Project Members</h2>
					<div class="project-tagsarea">
						<div class="add-tags add-tag">
							<input type="text" class="tags-field" name="tags-field" value="Project Member Name">
							<button type="submit" class="add-tags-btn">ADD</button>
						</div>
						<div class="add-tags">
							<p>Max Mustermann <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Martin Mustermann <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Verena Mustermann <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Sabine Mustermann <span><img src="images/check-2.png"></span></p>
						</div>						
					</div>
				</div>
				<div class="project-details-main project-members">
					<h2>Add Public Documents</h2>
					<div class="project-tagsarea">
						<div class="add-tags add-tag">
							<div class="file-upload">
								<input type="file" id="file-upload" multiple required />
								<span for="file-upload">ADD</span>
								<!-- <div id="file-upload-filename" class="file-upload-filename"></div> -->
								<!-- <div class="uplaod-image">Upload image</div>											 -->
							</div>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>						
					</div>
				</div>
				<div class="project-details-main project-members">
					<h2>Add internal documents (only for management)</h2>
					<div class="project-tagsarea">
						<div class="add-tags add-tag">
							<div class="file-upload">
								<input type="file" id="file-upload" multiple required />
								<span for="file-upload">ADD</span>
								<!-- <div id="file-upload-filename" class="file-upload-filename"></div> -->
								<!-- <div class="uplaod-image">Upload image</div>											 -->
							</div>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>
						<div class="add-tags">
							<p>Presentation.ppt <span><img src="images/check-2.png"></span></p>
						</div>						
					</div>
				</div>
				<!--Button-->
				<button class="save-deatils">SAVE</button>
			</div>
		</div>
	</div>
</div>
<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
var input = document.getElementById( 'file-upload' );
var infoArea = document.getElementById( 'file-upload-filename' );

input.addEventListener( 'change', showFileName );

function showFileName( event ) {
  
  // the change event gives us the input it occurred in 
  var input = event.srcElement;
  
  // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
  var fileName = input.files[0].name;
  
  // use fileName however fits your app best, i.e. add it into a div
  infoArea.textContent = 'File name: ' + fileName;
}
</script>
</body>
</html>

