<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco Roles</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
					<li><a href="javascript:void(0);">Dashboard</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Admin </a>
			<span>/</span>
			<a href="javascript:void(0);">Users</a>
		</div>
	</div>
</div>
<!--End-->
<!--Table-->
<div class="lyerco_table define_float">
	<div class="container">
		<div class="lyerco_table_main define_float">
			<div class="lyerco_left_table col-md-3">
				<div class="lyerco_left_table_inner define_float">
					<ul>
						<h6>Admin Panel</h6>
						<li><a href="javascript:void(0);">Business Units</a></li>
						<li class="user_active"><a href="javascript:void(0);">Roles</a></li>
						<li><a href="javascript:void(0);">Users</a></li>
						<li><a href="javascript:void(0);">Projects</a></li>
						<h6>Project Panel</h6>
						<li><a href="javascript:void(0);">My Projects</a></li>
						<h6>Reporting Panel</h6>
						<li><a href="javascript:void(0);">Status Updates</a></li>
						<h6>User Panel</h6>
						<li><a href="javascript:void(0);">My Profile</a></li>
					</ul>
				</div>
			</div>
			<div class="lyerco_right_table role-management col-md-9">
				<div class="table_heading_text define_float">
					<h2>Role Management</h2>
				</div>
					 <div class="table table-bordered table-role">
						<div class="heading-table">
						  <div class="row-table">
							<div class="th">
							   <p>ROLE NAME</p>
							   <span>
								<img src="images/up-arrow.png">
								<img src="images/down-arrow.png">
							   </span>
							</div>
							<div class="th">
							   <p>ADMIN PANEL</p>								
							</div>
							<div class="th">
							    <p>Project Mgmt.<br> Panel</p>
							</div>
							<div class="th"><p>Reporting<br>Panel</p></div>
							<div class="th">
							    <p>Front-End Full View</p>								
							</div>
							<div class="th">
							    <p>ALERTS</p>								
							</div>
							<div class="th">
							    <p>ACTION</p>								
							</div>
						  </div>
						</div>
						<div class="tbody">
						  <div class="row-table">
							<div class="td">Admin</div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">Management</div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						 <div class="row-table">
							 <div class="td">Project Manager</div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							 <div class="td">Super Admin</div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
						    <div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="update-btn td"></div>
						  </div>						  
						  <div class="row-table">
							<div class="italic_bg td">Role Name</div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div class="checkbox_outer td" style="text-align:center"><input type="checkbox" id="input1" name="box1" value="Box1"><label class="one"></label></div>
							<div  class="td_add_btn btn-disabled td"><a href="javascript:void(0);">ADD</a></div>
						  </div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>

