<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lyreco</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
</head>
<body>
<!--logo-section-->
<div class="top_header define_float">
	<div class="container">
		<div class="top_header_main define_float">
			<div class="top_header_left col-md-6 col-sm-6 col-xs-6">
				<div class="logo_section define_float">
					<a href="javascript:void(0)"><img src="images/logo.svg" alt="logo"></a>
					<h2>Project Dashboard</h2>
				</div>
			</div>
			<div class="top_header_right col-md-6 col-sm-6 col-xs-6">
				<div class="top_header_right_inner">
				<ul>
					<li><a href="javascript:void(0);">Hello, Max Mustermann<img src="images/client.png" alt="client"></a></li>
					<li><a href="javascript:void(0);">Dashboard</a></li>
					<li><a href="javascript:void(0);">Log out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<!--Nav-SEction-->
<div class="header_nav define_float">
	<div class="container">
		<div class="header_nav_main define_float">
			<a href="javascript:void(0);">Admin </a>
			<span>/</span>
			<a href="javascript:void(0);">Users</a>
		</div>
	</div>
</div>
<!--End-->
<!--Table-->
<div class="lyerco_table define_float">
	<div class="container">
		<div class="lyerco_table_main define_float">
			<div class="lyerco_left_table col-md-3">
				<div class="lyerco_left_table_inner define_float">
					<ul>
						<h6>Admin Panel</h6>
						<li><a href="business-unit.html">Business Units</a></li>
						<li><a href="role-management.html">Roles</a></li>
						<li class="user_active"><a href="user.html">Users</a></li>
						<li><a href="projects.html">Projects</a></li>
						<h6>Project Panel</h6>
						<li><a href="project-management.html">My Projects</a></li>
						<h6>Reporting Panel</h6>
						<li><a href="javascript:void(0);">Status Updates</a></li>
						<h6>User Panel</h6>
						<li><a href="javascript:void(0);">My Profile</a></li>
					</ul>
				</div>
			</div>
			<div class="lyerco_right_table col-md-9">
				<div class="table_heading_text define_float">
					<h2>User Management</h2>
				</div>
					 <div class="table table-bordered">
						<div class="heading-table">
						  <div class="row-table">
							<div class="th">
							   <p>USERNAME</p>
							   <span>
								<img src="images/up-arrow.png">
								<img src="images/down-arrow.png">
							   </span>
							</div>
							<div class="th">
							   <p>ROLE</p>
								<span>
								  <img src="images/up-arrow.png">
								  <img src="images/down-arrow.png">
								</span>
							</div>
							<div class="th">
							    <p>EMAIL</p>
								<span>
								  <img src="images/up-arrow.png">
								  <img src="images/down-arrow.png">
								</span>
							</div>
							<div class="th"><p>ACTION</p></div>
						  </div>
						</div>
						<div class="tbody">
						  <div class="row-table">
							<div class="td">Super Admin</div>
							<div class="td">Super Admin</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">User B</div>
							<div class="td">Project Manager</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						  <div class="row-table">
							<div class="td">User c</div>
							<div class="td">Admin</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td"> 
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span>  
							  <a href="javascript:void(0);">delete</a></div>
						  </div>
						   <div class="row-table">
							<div class="td">User D</div>
							<div class="td">Sponsor</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							   <a href="javascript:void(0);">modify</a>
							   <span>|</span> 
							   <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							<div class="td">User E</div>
							<div class="td">Project Manager</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
								<a href="javascript:void(0);">modify</a>
								<span>|</span> 
							    <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							<div class="td">User X</div>
							<div class="td">Project Manager</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a> 
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							<div class="td">User Y</div>
							<div class="td">Sponsor</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a>
							  <span>|</span>  
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							<div class="td">User Z</div>
							<div class="td">Project Manager</div>
							<div class="td"><a href="mailto:info@quickculverts.com.au">user.a@lyreco.com</a></div>
							<div class="update-btn td">
							  <a href="javascript:void(0);">modify</a> 
							  <span>|</span> 
							  <a href="javascript:void(0);">delete</a>
							</div>
						  </div>
						   <div class="row-table">
							<div class="italic_bg td">User Name</div>
							<div class="select-admin td">
							<select id="admin">
					
							      <option value="select-role">Select Role </option>
								  <option value="admin">Admin</option>
								  <option value="super-admin">Super Admin</option>
								  <option value="project-manager">Project Manager</option>
								  <option value="management">Management</option>
								  <option value="sponsor">Sponsor</option>
								</select>
							</div>
							<div class="italic_bg td">Email</div>
							<div class="td_add_btn btn-disabled td"><a href="javascript:void(0);" >ADD</a></div>
						  </div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!--End-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/jquery.selectBoxIt.min.js"></script>
<script>
jQuery(document).ready(function() {
	jQuery('.select-admin select').selectBoxIt({ 'numSearchCharacters': 1 });
});
</script>

</body>
</html>

